# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Ensure diffs have LF endings
*.diff text eol=lf
*.bat text eol=crlf
Telegram/cmake/ayu_codegen.patch whitespace=-blank-at-eol,-space-before-tab,-blank-at-eof
Telegram/cmake/ayu_lib_tl.patch whitespace=-blank-at-eol,-space-before-tab,-blank-at-eof

# Ensure lottie animations are treated as binary files
*.lottie binary
